@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

.webpack-logo {
	width: 10%;
	height: 20%;
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.dev-name {
	cursor: pointer;
	letter-spacing: 1.1px;
	text-decoration: underline;
	color: white;
	font-size: 10px;
	font-weight: 300;
	position: absolute;
	bottom: 4%;
}
